@charset "UTF-8";

*{

padding: 0px;    
margin: 0px;

}

body{

background-color: rgb(0, 0, 0);
background-image: url("../../img/foto2al.jpg"); /*comando para colocar a imagem de fundo da página "imagem está na pasta img"*/
    background-repeat: no-repeat; 
    background-size: cover; /* ocupar a tela toda */
    background-attachment: fixed; /* fixar na tela */
    height: 100%; /* altura   */
    background-position: center center; /* posicionar no centro da tela    */

}

.logo{

 height: 130px;      /* Largura da img da logo*/
    width: 35%;         /* Comprimento da img da logo*/
    margin: auto;       /* Margem automática da página*/
    display: flex;      /*display flex para deixar a img flexível a posições*/
    justify-content: center;   /* Código para centralizar a IMG no meio da página*/
    margin-top: 2%;            /* Código para dar um espaço na parte de cima da imagem */
    margin-bottom: 1%;         /* Código para dar um espaço na parte de baixo da imagem */

}

.caixa{

    width: 450px;            /* largura da caixa */
    height: auto;            /* altura automática conforme o conteúdo */
    
    display: flex;           /* ativa o modo flexível (flexbox) */
    align-items: center;     /* centraliza os itens horizontalmente */

    border-radius: 20px;     /* arredonda as bordas */
                                 /* espaço interno em todos os lados */
    
    padding-top: 20px;      /* espaço interno em cima */
                             /* espaço interno à direita */
    
    padding-left: 10px;     /* espaço interno à esquerda */
    padding-right: 10px;    /* espaço interno à direita */
    margin-top: 1%;         /* espaço externo acima da caixa */
    margin-left: 0px;       /* remove espaço à esquerda */

    background: rgba(0, 0, 0, 0.618); /* fundo preto com transparência */
    box-shadow: 0px 0px 5px rgb(0, 0, 0),  /* sombra leve */
                 0px 0px 10px rgb(0, 0, 0), /* sombra média */
                 0px 0px 15px rgb(0, 0, 0), /* sombra mais forte */
                 0px 0px 20px rgb(0, 0, 0); /* sombra intensa */
    border: 2px solid rgb(255, 255, 255); /* borda branca */
    margin: auto; /* centralizar */
    margin-top: 40px /* espaço externo de cima*/

}


.superior{
text-align: center;
margin: 40px;
}

.opcao{
padding: 30px;
text-align: center;
margin: 5px;
}

h1{
color: #ffffff;
text-align: center;

}

h2{

color: #ffffff;
margin: 15px;
padding: 10px;
}

a{
    color:#ffffff;  /* Comando para mudar a cor do texto */
    font-size: 15px;  /* Comando para mudar o tamanho da letra do texto*/
    text-decoration:none ;  /* Comando para remover o detalhe que vem no link*/
}


a:hover{
    color: #3fb0f1; /* muda de cor ao passar o mouse, igual ao padrão do projeto */
  }

  button{

 font-family: Georgia;   /* Código para mudar a fonte do texto*/
    display: flex;      /*Comando para deixar a caixa mais flexível*/
    margin: auto;     /* Margem automática da página*/
    background: rgba(0, 0, 0, 0.514);   /* Código para colocar a cor do lado de dentro do botão*/
    padding: 10px 30px;               /*Comando para dar um espaço em todos os lados da parte de dentro da caixa*/        
    border-radius: 10px;              /* Código para arredondar o botão*/
    margin-top: 1%;                   /* Código para dar um espaço no topo do lado de fora*/

    color: rgb(253, 253, 253);      /* Código para mudar a cor do texto*/
    box-shadow: 0px 0px 5px rgb(42, 42, 42),  /* Código para colocar uma sombra atrás da caixa do botão*/
                0px 0px 10px rgb(42, 42, 42); /* Código para colocar uma sombra atrás da caixa do botão*/
  }

  button:hover{
    transform:scale(1.1);          /* Código para dar um zoom no botão quando passar o mouse*/
    box-shadow:0 0 5px #3fb0f1; /* Código para colocar uma cor atrás do botão quando passar o mouse*/
}

button:active{
    background-color: rgb(153, 240, 255);  /* Código para mudar o botão de cor quando clicar nele */
}

.sair{

 font-family: Georgia;   /* Código para mudar a fonte do texto*/
    display: flex;      /*Comando para deixar a caixa mais flexível*/
    margin: auto;     /* Margem automática da página*/
    background: rgba(0, 0, 0, 0.843);  /* Código para colocar a cor do lado de dentro do botão*/
    padding: 10px 50px;               /*Comando para dar um espaço em todos os lados da parte de dentro da caixa*/        
    border-radius: 10px;              /* Código para arredondar o botão*/
    margin-top: 1%;                   /* Código para dar um espaço no topo do lado de fora*/

    color: rgb(253, 253, 253);      /* Código para mudar a cor do texto*/
    box-shadow: 0px 0px 5px rgb(42, 42, 42),  /* Código para colocar uma sombra atrás da caixa do botão*/
                0px 0px 10px rgb(42, 42, 42); /* Código para colocar uma sombra atrás da caixa do botão*/

}